@model IEnumerable<tescrudmvc.Models.Student>

@{
    ViewData["Title"] = "Index";
}
<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.first_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.last_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.score)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.grade)
            </th>
            <th>Action </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.first_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.last_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.score)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.grade)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id" class="btn btn-sm btn-success">
                    <i class="fas fa-edit"></i>
                </a>
                <a asp-action="Details" asp-route-id="@item.id" class="btn btn-sm btn-secondary">
                    <i class="fas fa-info-circle"></i>
                </a>
                <a asp-action="Delete" asp-route-id="@item.id" class="btn btn-sm btn-danger">
                    <i class="fas fa-trash"></i>
                </a>
            </td>
        </tr>
}
    </tbody>
</table>
